.listCart .cart-product img {
    width: 100%;
}

.listCart .cart-product{
    display: grid;
    grid-template-columns: 70px 110px 50px 1fr;
    gap: 10px;
    align-items: center;
    text-align: center;

}
.listCart .cart-product .quantity {
   display: flex;
   gap: 3px;}
.listCart .cart-product .quantity span{


    width: 25px;
    height: 25px;
    background-color: #d9d7e2;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}

.listCart .cart-product .quantity span:nth-child(2){
    background-color: transparent;
    color: #000000;
    cursor: auto;
}

.listCart .cart-product:nth-child(even){
    background-color: rgba(199, 144, 144, 0.067);
    width: 100%;
    
}